<h2>商品編集</h2>
<%= form_with model:@item, url:admin_item_path(@item.id), local:true do |f| %>
  <h4>商品画像 <%= f.attachment_field :image  %></h4>
  <h4>商品名　<%=f.text_field :name %></h4>
  <h4>商品説明 <%= f.text_area :introduction %></h4>
  <h4>ジャンル <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択して下さい --" %></h4>
  <h4>税抜価格 <%= f.text_field :price %>円</h4>
  <h4>
    販売ステータス
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "販売中" %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "販売停止中" %>
  </h4>
  <%= f.submit '変更を保存' %>
<% end %>