<h2>商品詳細</h2>

<%= attachment_image_tag @item, :image, fallback: "no_image.png", size: "100x100" %>
<p>商品名　<%= @item.name %></p>
<p>商品説明　<%= @item.introduction %></p>
<p>ジャンル  <%= @item.genre.name %></p>
<p>税抜価格<br>
    (税込価格) <%= tax_price(@item.price).to_s(:delimited) %>（<%= converting_to_jpy(@item.price) %>） 円
</p>

<div>
    販売ステータス
   <% if @item.is_active == true %>
        <p>販売中</p>
    <% elsif @item.is_active == false %>
        <p>売り切れ</p>
    <% end %>
</div>

<%= link_to '編集する', edit_admin_item_path(@item.id) %>
