<div class="container">
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <h2 class="font-weight-bold mt-5">ジャンル一覧・追加</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto">
      <div class="mb-3">
      <%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
      </div>

      <div class="field">
        <%= f.label "ジャンル名" %>
        <%= f.text_field :name, class: "mx-5" %></h4>
        <%= f.submit '新規登録', class: "btn btn-success" %>
      </div>
      <% end %>
  </div>

  <div class="row ml-5 pl-4">
    <div class="col-12">

      <table class="table table-inverse table-hover">
        <thead class="thead-light border-dark">
          <tr>
            <th>ジャンル</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <th class="align-middle"><%= genre.name %></th>
            <td class="align-middle"><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>

</div>