<h2>ジャンル一覧・追加</h2>
<%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
  <h4>ジャンル名　<%= f.text_field :name %></h4>
  <%= f.submit '新規登録' %>
<% end %>

<table>
  <tr>
    <th colspan="3">ジャンル</th>
  </tr>
  <% @genres.each do |genre| %>
  <tr>
    <th><%= genre.name %></th>
    <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
  </tr>
  <% end %>
</table>

