<h2>ログイン</h2>


<%= form_with model: @customer, url:customer_session_path, local:true do |f| %>
  <h4>会員の方はこちらからログイン</h4>
  <div class="field">
    <%= f.label :email %>　<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password %>　<%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<h4>会員登録がお済みでない方</h4>
<p><%= link_to 'こちら', new_customer_registration_path %> から新規登録を行なってください。</p>