<div class="container">
  <div class="row">
    <h4>注文情報確認</h4>
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead class="table-active">
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価(税込価格)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <th>
              <%= attachment_image_tag cart_item.item, :image, fallback: "no_image.png", size: "50x50" %>
              <%= cart_item.item.name %>
            </th>
            <td>
              <%= tax_price(cart_item.item.price).to_s(:delimited) %>
            </td>
            <td><%= cart_item.amount %></td>
            <td> <%= (tax_price(cart_item.item.price) * cart_item.amount).to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <table class="table table-bordered">
          <tr>
            <td class="table-active">送料</th>
            <td><%= @order.delivery_cost %></td>
          </tr>
          <tr>
            <td class="table-active">商品合計</th>
            <td><%= total_price(@cart_items).to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="table-active">請求金額</th>
            <td><%= billing(@order).to_s(:delimited) %></td>
          </tr>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-7">
      <table class="table table-borderless">
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td>
            〒<%= @order.delivery_postal_code %>　<%= @order.delivery_address %><br />
            <%= @order.delivery_name %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <%= form_with model: @order, local:true do |f| %>
  <div>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :delivery_postal_code %>
    <%= f.hidden_field :delivery_address %>
    <%= f.hidden_field :delivery_name %>
    <%= f.hidden_field :delivery_cost %>
    <%= f.hidden_field :charge %>
    <%= f.hidden_field :total_price %>
    <%= f.hidden_field :status %>
    <%= f.hidden_field :payment_method %>
    <div class="text-center">
      <%= f.submit '注文を確定する', class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>