<h2>注文情報確認</h2>
<%= form_with model: @order, local:true do |f| %>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込価格)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart| %>
    <tr>
      <th>
        <%= attachment_image_tag cart.item, :image, fallback: "no_image.png", size: "50x50" %>
        <%= cart.item.name %>
      </th>
      <td>
        <%= tax_price(cart.item.price).to_s(:delimited) %>
      </td>
      <td><%= cart.amount %></td>
      <td> <%= (tax_price(cart.item.price) * cart.amount).to_s(:delimited) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>送料</th>
      <td><%= @order.delivery_cost %></td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td><%= total_price(@cart_items).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= charge(@order).to_s(:delimited) %></td>
    </tr>
  </thead>
</table>

<h3>支払方法</h3>
<p><%= @order.payment_method %></p>
<h3>お届け先</h3>
<p>
  〒<%= @order.delivery_postal_code %>　<%= @order.delivery_address %><br />
  <%= @order.delivery_name %>
</p>
  <%= f.submit '注文を確定する' %>

<div>
  <!--%= form_with model: @order, local:true do |f| %>-->
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :delivery_name %>
    <%= f.hidden_field :delivery_address %>
    <%= f.hidden_field :delivery_postal_code %>
    <%= f.hidden_field :delivery_cost %>
    <%= f.hidden_field :charge %>
    <%= f.hidden_field :total_price %>
    <%= f.hidden_field :status %>

    <%= f.hidden_field :billing %>
<% end %>
</div>