<h2>注文履歴一覧画面</h2>

<table>
  <thead>
    <tr>
      <td>注文日</td>
      <td>配送先</td>
      <td>注文商品</td>
      <td>支払金額</td>
      <td>ステータス</td>
      <td>注文詳細</td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <th><%= order.created_at.strftime('%Y/%m/%d') %></th>
      <th>
        〒<%= order.delivery_postal_code %><br />
        <%= order.delivery_address %><br />
        <%= order.delivery_name %>
      </th>
      <th>
      <% order.order_products.each do |order_product| %>
        <%= order_product.item.name %>
      <% end %>
      </th>
      <th><%= order.charge %></th>
      <th><%= order.status %></th>
      <th></th>
    </tr>
    <% end %>
  </tbody>
</table>