<h2>注文情報入力</h2>

<div>
  <h4>支払方法</h4>
  <%= form_with model:@order, url: confirm_orders_path(@order), local:true do |f| %>
    <%= f.radio_button :payment_method, :クレジットカード %>
    <%= f.label :payment_method, "クレジットカード" %><br />
    <%= f.radio_button :payment_method, :銀行振込 %>
    <%= f.label :payment_method, "銀行振込" %>
</div>

<div>
  <h4>お届け先</h4>
    <div>
      <%= f.radio_button :current_customer, "customer_address" %>
      <%= f.label :current_customer, 'ご自身の住所' %><br />
      〒<%= current_customer.postal_code %> <%= current_customer.address %><br />
      <%= current_customer.last_name %><%= current_customer.first_name %>
    </div>
    <div>
      <%= f.radio_button :current_customer, "delivery_address" %>
      <%= f.label :current_customer, '登録済住所から選択' %><br />
      <%= f.collection_select(:address_id, current_customer.addresses.all, :id, :address) %>
    </div>
    <div>
      <%= f.radio_button :current_customer, "new_delivery_address" %>
      <%= f.label :current_customer, "新しいお届け先" %><br />
    </div>
    <div>
      <div>
        <%= f.label :delivery_postal_code, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :delivery_postal_code,  autofocus: true, placeholder: "0000000" %>
      </div>
      <div>
        <%= f.label :delivery_address, "お届け先" %>
        <%= f.text_field :delivery_address, autofocus: true, placeholder: "東京都渋谷区代々木神園町０-０" %>
      </div>
      <div>
        <%= f.label :delivery_name, "宛名" %>
        <%= f.text_field :delivery_name, autofocus: true, placeholder: "令和道子" %>
      </div>
    </div>
      <%= f.submit '確認画面に進む' %>
  <% end %>
</div>

