<div class="container">
  <div class="row">
    <div class="col-md-10 mt-5 mx-auto">
      <h4 class="font-weight-bold">注文情報入力</h4>
    </div>
  </div>
</div>

<div class="container mb-5 mx-auto">
  <%= form_with model:@order, url: confirm_orders_path(@order), local:true do |f| %>
  <form class="form-horizontal mt-5">
      <div class="form-check mt-3">
        <h5 class="font-weight-bold">支払方法</h5>
        <div class="col ml-5">
          <%= f.radio_button :payment_method, :クレジットカード, class: "form-check-input" %>
          <%= f.label :payment_method, "クレジットカード", class: "form-check-label" %><br />
        </div>
        <div class="col ml-5">
          <%= f.radio_button :payment_method, :銀行振込, class: "form-check-input" %>
          <%= f.label :payment_method, "銀行振込", class: "form-check-label" %>
        </div>
      </div>

      <div class="form-check mt-3">
        <h5 class="font-weight-bold">お届け先</h5>
        <div class="col mt-2 ml-5">
            <%= f.radio_button :current_customer, "customer_address", class: "form-check-input" %>
            <%= f.label :current_customer, 'ご自身の住所', class: "form-check-label" %><br />
            〒<%= current_customer.postal_code %> <%= current_customer.address %><br />
            <%= current_customer.last_name %><%= current_customer.first_name %>
        </div>
        <div class="col mt-2 ml-5">
            <%= f.radio_button :current_customer, "delivery_address", class: "form-check-input" %>
            <%= f.label :current_customer, '登録済住所から選択', class: "form-check-label" %><br />
            <%= f.collection_select(:address_id, @addresses, :id, :order_address) %>
        </div>
        <div class="col mt-2 ml-5">
            <%= f.radio_button :current_customer, "new_delivery_address", class: "form-check-input" %>
            <%= f.label :current_customer, "新しいお届け先", class: "form-check-label" %><br />
          </div>
          <div>
            <div class="form-row mt-2 ml-5">
              <%= f.label :current_customer, "郵便番号(ハイフンなし)", class: "col-md-3 control-label" %>
              <div class="col">
                <%= f.text_field :delivery_postal_code,  autofocus: true, placeholder: "0000000", class: "form-control" %>
              </div>
              <div class="col"></div>
            </div>
            <div class="form-row mt-2 ml-5">
              <%= f.label :current_customer, "お届け先", class: "col-md-3 control-label" %>
              <div class="col">
                <%= f.text_field :delivery_address, autofocus: true, placeholder: "東京都渋谷区代々木神園町０-０", class: "form-control" %>
              </div>
            </div>
            <div class="form-row mt-2 ml-5">
              <%= f.label :current_customer, "宛名", class: "col-md-3 control-label" %>
              <div class="col">
                <%= f.text_field :delivery_name, autofocus: true, placeholder: "令和道子", class: "form-control" %>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
          <div class="col-md-10 m-4">
            <div class="text-center">
              <%= f.submit '確認画面に進む', class: "btn btn-primary w-25" %>
            </div>
          </div>
      </div>
  </form>
  <% end %>
</div>




