<div class="container">
  <div class="row">
    <div class="offset-1">
      <h4>注文履歴詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4>注文情報</h4>

      <table class="table table-bordered">
        <tr>
          <td class="table-active">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-active">配送先</td>
          <td>
            〒<%= @order.delivery_postal_code %><br />
            <%= @order.delivery_address %><br />
            <%= @order.delivery_name %>
          </td>
        </tr>
        <tr>
          <td class="table-active">支払方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td class="table-active">ステータス</td>
          <td><%= @order.status %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <h4>請求情報</h4>
      <table class="table table-bordered">
        <tr>
          <td class="table-active">商品合計</td>
          <td><%= @order.total_price.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <td class="table-active">配送料</td>
          <td><%= @order.delivery_cost %>円</td>
        </tr>
        <tr>
          <th class="table-active">ご請求額</th>
          <td><%= (@order.total_price + @order.delivery_cost).to_s(:delimited)  %>円</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <h4>注文内容</h4>
      <table class="table table-bordered">
        <thead class="table-active">
          <tr>
            <td>商品</td>
            <td>単価(税込)</td>
            <td>個数</td>
            <td>小計</td>
          </tr>
        </thead>
        <tbody>
        <% @order_products.each do |order_product| %>
          <tr>
            <td><%= order_product.item.name %></td>
            <td><%= order_product.tax_included.to_s(:delimited) %>円</td>
            <td><%= order_product.amount %>個</td>
            <td><%= order_product.total_price.to_s(:delimited) %>円</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>